- name: Install common software requirements
  yum:
    state: latest
    name: 
      - yum-plugin-fastestmirror
      - wget
      - git
      - screen
      - bash-completion
      - mlocate
      - elinks
    when: ansible_distribution == "CentOS" or ansible_distribution == "Fedora"
