- name: Install common software requirements

### Ubuntu

- name: install Uhu Tools on Ubuntu
  apt:
    name:
      - wget
      - git
      - bash-completion
      - mlocate
      - vim
      - rsync
      - curl
      - telnet
      - net-tools
      - unzip
      - lvm2
    state: latest
    update_cache: yes
  when: ansible_distribution == 'ubuntu'

### Centos

- name: install Uhu Tools on Centos
  yum:
    name:
      - wget
      - git
      - bash-completion
      - mlocate
      - epel-release
      - vim
      - rsync
      - curl
      - telnet
      - net-tools
      - unzip
      - lvm2
    state: latest
    update_cache: yes
  when: ansible_distribution_ == 'CentOS'
