---
- name: install bacula client for CentOS systems
  yum:
    name: bacula-client
    state: latest
  when: ansible_distribution == "CentOS"
  
- name: install bacula client for Fedora systems
  yum:
    name: bacula-client
    state: latest
  when: ansible_distribution == "Fedora"
  
- name: Create Bacula Config File
  template:
    src: fedora-bacula-fd.conf.j2
    dest: /etc/bacula/bacula-fd.conf
    owner: root
    group: root
    mode: '0644'
  when: ansible_distribution == "Fedora"
- name: Restart service baclula client
  service:
    name: bacula-fd
    state: restarted
  
- name: install bacula client for ubuntu systems
  apt:
    name: bacula-client
    state: latest
  when: ansible_distribution == "Ubuntu"
